/*body全体*/
body,
html {
  height: 100%;
  margin: 0 auto;
}

/*半年記念配信*/
#wrap {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/header.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}
#movie {
  display: block;
}
/*タイトル文字の配置*/
.parallax {
  box-sizing: border-box;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 200px);
  padding: 5%;
}

/*背景画像を擬似要素で固定*/
body::before {
  background: url("../img/FdfukuTUYAALmN0.webp") no-repeat center; /* 擬似要素に背景画像 */
  background-size: cover; /* cover指定 */
  content: ""; /* 画像を表示させる為に必要*/
  display: block; /*ブロックボックスで表示*/
  position: fixed; /* 擬似要素全体を固定 */
  width: 100%; /* 横幅を画面全体 */
  height: 100vh; /* 縦幅を画面全体 */
  top: 0; /* 上からの配置を0 */
  left: 0; /* 左からの配置を0 */
  z-index: -1; /*背景画像になるように重ね順を-1*/
}

.blur {
  width: 100%;
  height: 300px;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) rgb(255, 255, 255)
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}
.container {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.inner-container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.hashtagdiv {
  width: 100%;
  max-width: 500px;
}
.hashtagimg {
  width: 100%;
}
.hoverdiv {
  background-image: url(../img/hover.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
}
.box-shadow {
  box-shadow: 0 0 8px #999;
}
.box-shadow:hover {
  animation: hover 0.6s forwards;
}
.hover:hover {
  animation: hover 0.6s forwards;
}
@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

.blog-card {
  max-width: 550px;
  width: 100%;
  height: 500px;
  position: absolute;
  color: #fff;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  text-align: center;
  transition: all 0.4s;
  background-size: 100%;
}
.blog-card .Top_a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.blog-card .color-overlay {
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .title-content {
  margin-top: 70px;
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s;
}
.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}
.blog-card h3 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  display: inline-block;
}
.TopBigTitleh3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #bda26b;
  transition: all 0.2s;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}
.intro {
  width: auto;
  margin: 0 auto;
  color: #ddd;
  line-height: 18px;
}
.intro .Top_a {
  color: #ddd;
}
.intro .Top_a:hover {
  text-decoration: underline;
}
.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card-info .Top_a {
  display: block;
  width: 100px;
  margin: 15px auto;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  font-size: 100%;
  box-shadow: 0px 0px 3px #808080;
  border: white solid 1px;
}
.card-info .Top_a:hover {
  background: #8e7c49;
  color: #fff;
  border: none;
}
.card-info .Top_a:hover span {
  filter: brightness(10);
  opacity: 1;
}
@media (max-width: 500px) {
  .card-info {
    display: none;
  }
  .blog-card:hover .title-content,
  .title-content {
    margin-top: 40px;
  }
  .blog-card {
    height: 300px;
  }
  .blog-card h3 {
    font-size: 1.3em;
  }
  .intro {
    font-size: 0.8em;
  }
}

.TopBigTiltle {
  text-shadow: 0px 0px 6px #000000;
}
.TopBigSubTiltle {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 5px #000000;
  margin-top: 5px;
}
.card-info {
  text-shadow: 0px 0px 3px #000000;
  font-size: 23px;
}
@media screen and (min-width: 480px) {
  .TopBigTiltle {
    font-size: 70px;
  }
  .TopBigSubTiltle {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .TopBigTiltle {
    font-size: 55px;
  }
  .TopBigSubTiltle {
    font-size: 27px;
  }
}

.profile {
  position: relative;
  width: 95%;
  height: 840px;
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  position: absolute;
  top: 0px;
  left: 0px;
}
@media screen and (min-width: 650px) {
  .profile img {
    height: 800px;
  }
}
@media screen and (max-width: 650px) {
  .profileimg {
    width: 100%;
  }
}
.profile .text {
  position: absolute;
  margin: 0;
  bottom: 0px;
  right: 0px;
  max-width: 600px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 5px #999;
  font-size: 12px;
  line-height: 24px;
}
@media screen and (min-width: 650px) {
  .text {
    height: 450px;
  }
}
@media screen and (max-width: 650px) and (min-width: 570px) {
  .text {
    height: 460px;
  }
}
.btn {
  margin-top: 30px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 12px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-color: rgb(101, 189, 255);
  border-style: solid;
  border-width: 2px;
}
@media screen and (min-width: 530px) {
  .btn {
    font-size: 25px;
  }
}
@media screen and (max-width: 530px) {
  .btn {
    font-size: 20px;
  }
}
.btn-text {
  color: rgb(101, 189, 255);
  font-weight: bold;
}
.fa-youtube {
  color: rgb(255, 0, 0);
}
@media screen and (min-width: 570px) {
  .profileh2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 570px) and (min-width: 400px) {
  .profileh2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) and (min-width: 344px) {
  .profileh2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 344px) {
  .profileh2 {
    font-size: 27px;
  }
}
.profileh2start {
  margin-top: 20px;
}
.profileh2end {
  margin-bottom: 30px;
}
.baseh2 {
  font-size: 25px;
  text-align: center;
}
.baseh2margin {
  margin: 10px !important;
}
.basep {
  font-size: 18px;
  text-align: center;
  margin: 0 !important;
}
.profileh4 {
  font-weight: 100;
  font-size: 18px;
  margin: 0 !important;
}
.profileh4attention {
  text-align: center;
}
.profileh2-color1 {
  color: rgb(0, 153, 204);
}
.profileh2-color2 {
  color: rgb(1, 176, 240);
}
.profileh2-color3 {
  color: rgb(101, 189, 255);
}
span {
  display: inline-block;
}

/*shutter animation loading*/
.shutter_1 {
  padding: 0;
  margin: 0;
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  text-align: center;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}
#loader.loaded {
  animation: fadeOut 3s forwards;
}
.shutter_1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* The loader container */
.loader {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  perspective: 1000px;
  transform-style: preserv3d;
}
/* The bar */
.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 100px;
  background-color: rgba(29, 33, 137, 0.6);
  transform: scaleY(0);
  transform-style: preserve3d;
  animation: bar 3s cubic-bezier(0.81, 0.04, 0.4, 0.7) infinite;
}
.bar:nth-child(2) {
  left: 20px;
  background-color: rgba(6, 49, 144, 0.6);
  animation-delay: 50ms;
}
.bar:nth-child(3) {
  left: 40px;
  background-color: rgba(0, 64, 152, 0.6);
  animation-delay: 100ms;
}
.bar:nth-child(4) {
  left: 60px;
  background-color: rgba(0, 91, 172, 0.6);
  animation-delay: 150ms;
}
.bar:nth-child(5) {
  left: 80px;
  background-color: rgba(1, 104, 183, 0.6);
  animation-delay: 200ms;
}
.bar:nth-child(6) {
  left: 100px;
  background-color: rgba(4, 114, 198, 0.6);
  animation-delay: 250ms;
}
.bar:nth-child(7) {
  left: 120px;
  background-color: rgba(1, 128, 205, 0.6);
  animation-delay: 300ms;
}
.bar:nth-child(8) {
  left: 140px;
  background-color: rgba(0, 140, 215, 0.6);
  animation-delay: 350ms;
}
.bar:nth-child(9) {
  left: 160px;
  background-color: rgba(0, 151, 224, 0.6);
  animation-delay: 400ms;
}
.bar:nth-child(10) {
  left: 180px;

  background-color: rgb(2, 160, 233, 0.6);

  animation-delay: 450ms;
}
@keyframes bar {
  0% {
    transform: rotateZ(-180deg) rotateX(-360deg);
  }
  75%,
  100% {
    transform: rotateZ(0) rotateX(0);
  }
}

@media screen and (max-width: 850px) {
  .PC {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  .mobile {
    display: none;
  }
}
.site-header {
  background: rgba(251, 250, 245, 0.485);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  height: 60px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.482);
}
.site-header.transform {
  background: rgb(251, 250, 245);
}
.PC-width {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.gnav {
  padding-right: 20px;
}
.site-logo img {
  height: 60px;
  width: auto;
  margin-top: -20px;
}
.gnav__menu {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gnav__menu__item {
  margin-left: 20px;
  list-style: none;
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.gnav__menu__item a {
  color: #333;
  text-decoration: none;
}
.gnav__menu__item::after {
  position: absolute;
  bottom: 0.3em;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(31, 190, 187);
  opacity: 0;
  transition: 0.3s;
  margin-bottom: -4px;
}
.gnav__menu__item:hover::after {
  margin-bottom: -4px;
  bottom: 0;
  opacity: 1;
  height: 2px;
}
.rubyposition_under {
  display: inline-block;
}
.rubyposition_under ruby {
  display: flex;
  flex-direction: column;
  text-align: justify; /* この指定は text-align-last を IE に対応させるために必要 */
  text-align-last: center;
}
.PC_span ruby {
  font-size: 20px;
  text-align-last: center;
}
.mobile_span ruby {
  font-size: 30px;
  text-align-last: left;
}
/* ハンバーガーボタン
==============================　*/
.toggle-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  margin-top: -7px;
  cursor: pointer;
}

.toggle-btn__line {
  background: rgb(0, 0, 0);
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}

.toggle-btn__line--top {
  top: 3px;
}
.toggle-btn__line--center {
  top: 15px;
}
.toggle-btn__line--bottom {
  top: 27px;
}
.toggle-btn__line--top.active {
  top: 15px;
  transform: rotate(45deg);
}
.toggle-btn__line--center.active {
  transform: scaleX(0);
}
.toggle-btn__line--bottom.active {
  top: 15px;
  transform: rotate(135deg);
}
/* ナビゲーションメニュー
==============================　*/
.global-nav {
  display: none;
  position: fixed;
  background: rgba(251, 250, 245);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.global-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.global-nav__item {
  margin-bottom: 30px;
  list-style: none;
}
.global-nav__item a {
  color: rgb(39, 39, 39);
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.global-nav__item a:hover {
  opacity: 0.7;
}

.item-list {
  display: flex;
  justify-content: center; /* 中央寄せ */
}
.item-list .item {
  box-sizing: border-box;
  padding: 40px 80px;
}
@media screen and (max-width: 560px) {
  .hashtagPC {
    display: none;
  }
}
@media screen and (min-width: 560px) {
  .hashtagMobile {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .salePC {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .saleMobile {
    display: none;
  }
}
.saleMobile {
  max-width: 400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.marshmallow {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 90%;
}

.youtube {
  width: 95%;
  aspect-ratio: 16 / 9;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}
.kikugetu {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.kikugetsu-item {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.kikugetu-title {
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 440px) {
  .kikugetu-title {
    font-size: 45px;
  }
}
@media screen and (max-width: 440px) {
  .kikugetu-title {
    font-size: 37px;
  }
}
.kikugetsu-text {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
.kikugetu-subtitle {
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.kikugetsuMobile {
  max-width: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (min-width: 440px) {
  .kikugetu-subtitle {
    font-size: 30px;
  }
}
@media screen and (max-width: 440px) {
  .kikugetu-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 900px) {
  .kikugetsuPC {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .kikugetsuMobile {
    display: none;
  }
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up1 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up1.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up2 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up2.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up3 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up3.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up4 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up4.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up5 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up5.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up_movie1 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up_movie1.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up_movie2 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up_movie2.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_up_movie3 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up_movie3.on {
  transform: translateY(0);
  opacity: 1;
}

/*right and left*/
.scroll_up_introduction1 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up_introduction1.on {
  transform: translateX(0);
  opacity: 1;
}

.scroll_up_introduction2 {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up_introduction2.on {
  transform: translateX(0);
  opacity: 1;
}

.mybox {
  background: none;
  border: 1px solid rgb(108, 202, 255); /* 線の太さ・種類・色 */
  margin: 15px 10px; /* 外側の余白 上下・左右 */
  padding: 20px; /* 内側の余白 */
  position: relative;
  text-align: center;
  font-size: 18px;
}
.mybox::before {
  background-color: rgb(255, 255, 255);
  padding: 2px 10px; /* タイトルの余白 上下・左右 */
  position: absolute;
  top: -10px;
  left: 30px;
  text-align: center;
}
.mybox::after {
  background: none;
  border: 1px solid rgb(108, 202, 255); /* 線の太さ・種類・色 */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hashtagnormal::before {
  content: "汎用タグ";
}
.hashtaglive::before {
  content: "配信タグ";
}
.hashtagFA::before {
  content: "ファンアートタグ";
}
.hashtagFAR::before {
  content: "R18タグ";
}
.hashtagcut::before {
  content: "切り抜きタグ";
}
.hashtagmail::before {
  content: "お知らせタグ";
}
.hashtaglunch::before {
  content: "お料理タグ";
}
.hashtagpiano::before {
  content: "ピアノタグ";
}
.hashtagmarshmallow::before {
  content: "マシュマロタグ";
}

.hashtagitem {
  padding: 0 !important;
  width: 100% !important;
}

/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
  transition: all 0.6s;
  backface-visibility: hidden;
}

/* カード表面のスタイル */
.card .front {
  transform: rotateY(-180deg);
}
/* ホバー時のカード裏面 */
.card:hover .back {
  transform: rotateY(180deg);
}
/* ホバー時のカード表面 */
.card:hover .front {
  transform: rotateY(0);
}

.twitter-div {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

footer {
  width: 100%;
  height: 150px;
  background-color: white;
  padding-top: 50px;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
}
.footer-p {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
